.gpt3__possiblity{
    display: flex;
    flex-direction: row;
}

.gpt3__possiblity-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.gpt3__possiblity-image img{
width: 100%;
height: 100%;

}

.gpt3__possiblity-content{
flex: 1;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
}

.gpt3__possiblity-content  h4{

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    
  color: #71E5FF;

}

.gpt3__possiblity-content  h4:last-child{

    color: #FF8A71;
}

.gpt3__possiblity-content  h1{

    font-family: var(--font-family);
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 45px;

margin: 1rem 0;

}

.gpt3__possiblity-content  p{
    font-family: var(--font-family);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */
color: var(--color-text);
margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .gpt3__possiblity {
        flex-direction: column;
    }

    .gpt3__possiblity-image {
        margin: 1rem 0;
    }

    .gpt3__possiblity-image img {
        width: unset;
        height: unset;
    }

    .gpt3__possiblity-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__possiblity-image img {
        width: 100%;
        height: 100%;
    }
}




